ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: grey;
}

li {
	float: left;
}

a {
	display: inline-block;
	color: white;
	vertical-align: middle;
	padding: 20px 20px;
	text-decoration: none;
}

a:hover {
	background-color: lightgrey;
}

.a {
	background-color: darkred;
}