body {
	background-image: url("picture/images.png");
	background-repeat: repeat-x;
/*	background-repeat: repeat-y;*/
	background-position: center top;
}

h1 {
	color: darkgoldenrod;
	text-shadow: 2px 5px black;
}