.square1 {
	position: relative;
	width: 100px;
	height: 100px;
	border: 2px solid black;

	margin: 100px;
}

.square2 {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 15px;
	left: 15px;
	border: 2px solid black;
	
	margin: 100px;
}

.square3 {
	position: absolute;
	width: 40px;
	height: 80px;
	top: 15px;
	left: 60px;
	border: 2px solid black;
	
	margin: 100px;
}

.triangle {
	width: 0px;
	height: 0px;

	border-bottom: 60px solid black;
	border-left: 90px solid transparent;
	border-right: 90px solid transparent;
	
	position: relative;
	top: -255px;
	bottom: 300px;
	left: 60px;
}